<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cdsunrise.ztyg.acquisition.usermanage.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="net.cdsunrise.ztyg.acquisition.usermanage.domain.User">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
		<result column="true_name" jdbcType="VARCHAR" property="trueName" />
		<result column="idcard" jdbcType="VARCHAR" property="idcard" />
		<result column="tel" jdbcType="VARCHAR" property="tel" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
		<result column="version" jdbcType="INTEGER" property="version"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, username, password, status, create_time, edit_time,true_name,idcard,tel,remark,version
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user where id = #{id}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from sys_user where id = #{id}
	</delete>

	<delete id="deleteByPrimaryKeys" parameterType="list">
		delete from sys_user where id in
		<foreach collection="array" item="id" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<insert id="insert" parameterType="net.cdsunrise.ztyg.acquisition.usermanage.domain.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_user (username, password, status, create_time,
		edit_time,true_name,idcard,tel,remark,version)
		values (#{username}, #{password},#{status}, #{createTime}, #{editTime}, #{trueName}, #{idcard}, #{tel}, #{remark},#{version})
	</insert>

	<insert id="insertSelective" parameterType="net.cdsunrise.ztyg.acquisition.usermanage.domain.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="editTime != null">
				edit_time,
			</if>
			<if test="trueName != null">
				true_name,
			</if>
			<if test="idcard != null">
				idcard,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="version != null">
				version,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="username != null">
				#{username},
			</if>
			<if test="password != null">
				#{password},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="editTime != null">
				#{editTime},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="trueName != null">
				#{trueName},
			</if>
			<if test="idcard != null">
				#{idcard},
			</if>
			<if test="tel != null">
				#{tel},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="net.cdsunrise.ztyg.acquisition.usermanage.domain.User">
		update sys_user
		<set>
			<if test="username != null">
				username = #{username},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="editTime != null">
				edit_time = #{editTime},
			</if>
			<if test="trueName != null">
				true_name = #{trueName},
			</if>
			<if test="idcard != null">
				idcard = #{idcard},
			</if>
			<if test="tel != null">
				tel = #{tel},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="version != null">
				version = version+1
			</if>
		</set>
		where id = #{id}
		   and version = #{version}
	</update>

	<update id="updateByPrimaryKey" parameterType="net.cdsunrise.ztyg.acquisition.usermanage.domain.User">
		update sys_user
		set username = #{username},
		password = #{password},
		status = #{status},
		create_time = #{createTime},
		edit_time = #{editTime},
		true_name = #{trueName},
		idcard = #{idcard},
		tel = #{tel},
		remark = #{remark},
		version = version+1
		where id = #{id} and version = #{version}
	</update>


	<select id="countByUsername" parameterType="java.lang.String"
		resultType="java.lang.Integer">
		select count(*) from sys_user where username =#{username}
	</select>
	
	<delete id="deleteByUserIdFromUR" parameterType="java.lang.Long">
		delete from sys_user_role where user_id = #{userId}
	</delete>
	
	<delete id="deleteByUserIdsFromUR" parameterType="list">
		delete from sys_user_role where user_id in
		<foreach collection="array" item="userId" open="(" separator=","
			close=")">
			#{userId}
		</foreach>
	</delete>
	
	<insert id="insertToUR" parameterType="map">
		insert into sys_user_role (user_id, role_id) values
		<foreach collection="array" item="item" index="index" separator=","> 
        (#{userId},#{item}) 
    	</foreach> 
	</insert>
	
	<select id="findByUsername" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user where username = #{username}
	</select>
	
	<select id="findByParams" parameterType="map"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		<where>
			<if test="username != null and username != ''">
				username like "%"#{username}"%"
			</if>
			<if test="trueName != null and truename != ''">
				and true_name like "%"#{trueName}"%"
			</if>
			<if test="status != null and status != ''">
				and status = #{status}
			</if>
		</where>
		order by id desc
	</select>
	
	<!-- 根据id集合统计用户数量 -->
	<select id="countByUserIds" resultType="java.lang.Integer">
	 select count(id) from sys_user
	 where
	    id in
	  <foreach collection="array" item="item" index="index" open="(" close=")" separator=","> 
        #{item} 
     </foreach> 
	</select>
	
</mapper>